@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: whitesmoke;
}

/* headings and logo */

header {
    width: 100%;
    background-color: #0074d0;
    padding-top: 10px;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 140%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: whitesmoke;
}

#logo {
    font-size: 210%;
    text-align: center;
    padding: 5px;

}

header a {
    text-decoration: none;
    color: whitesmoke;
}

/* navigation links */

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    margin-top: 5px;
    padding-bottom: 20px;
    font-size: 150%;

}

.active {
    border-bottom: 2px solid whitesmoke;
}

.nav-list a:hover {
    border-bottom: 2px solid whitesmoke;
}


/* footer */

footer {
    background-color: #0074d0;
    height: 150px;
    width: 100%;
}


.socials {
    list-style-type: none;
    font-size: 150%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer a {
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.contact-us {
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
    line-height: 1.5;
    color: whitesmoke;
}

.responsive {
    width: 100%;
    height: auto;
}

/* club details */

.club-details {
    height: 275px;
    background-color: #b61614;
    padding: 10px;
    text-align: center;
}

.club-details h2 {
    padding: 10px;
}