@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: white;
}

/* headings and logo */

header {
    width: 100%;
    background-color: #0074d0;
    padding-top: 10px;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 180%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

#logo {
    font-size: 210%;
    text-align: center;
    padding: 5px;

}

header a {
    text-decoration: none;
    color: whitesmoke;
}

/* navigation links */

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    margin-top: 5px;
    padding-bottom: 20px;
    font-size: 150%;

}

.active {
    border-bottom: 2px solid white;
}

.nav-list a:hover {
    border-bottom: 2px solid white;
}


/* footer */

footer {
    background-color: #0074d0;
    width: 100%;
}

footer li {
    margin: 0 10px 10px;
}
 footer li a:hover i {
     color: white;
     transform: rotate(-15deg) scale(1.3);
 }

.socials {
    list-style-type: none;
    font-size: 150%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer a {
    color: white;
    justify-content: center;
    align-items: center;
}

.contact-us {
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
    line-height: 1.5;
    color: white;
}

/* hero image & sign up image */
.hero-outer {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.sign-up-outer {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.home-responsive {
    width: 100%;
    height: auto;
    position: relative;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.sign-up-responsive {
    width: 100%;
    height: 500px;
    position: relative;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(1.1);
    }

}

/* club details */

.club-details {
    height: 100%;
    background-color: #b61614;
    padding: 10px;
    text-align:left;
}

.club-details p {
    line-height: 1.5;
    padding: 5px;
    margin: .8rem;
}

.club-details h2 {
    padding: 10px;
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

#cover-overlay {
    font-size: 110%;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 250px;
    height: fit-content;

    padding: 20px;
    background-color: rgba(255, 255, 255, .7);

    bottom: 30px;
    right: 20px;
    top: 200px;

    position: absolute;
}

/* Form */

.signup-form {
    color: #fff;
    background-color: rgba(182, 22, 20, .7);
    max-width: 400px;
    position: absolute;
    left: 45px;
    top: 200px;
    padding: 30px;
}

.signup-form>h2 {
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    font-weight: bold;
    border: 1px solid #fafafa;
    border-radius: 2px;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .25);
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    font-size: 120%;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    background-color: #E31616;
    color: #fafafa;
    display: block;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* Meeting locations */
.meeting-locations {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.meet-1 {
    padding: 15px;
    width: 100%;
    background: url('../images/bike-chainring.jpeg') no-repeat center center;
    background-size: cover;
}

.meet-2 {
    background-color: #0074d0;
    padding: 15px;
    width: 100%;
}

.location-heading {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.location-heading p {
    line-height: 1.5rem;
    padding: 5px;
    text-align: left;
    margin-bottom: .8rem;
}

.route-label {
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    letter-spacing: 1.7px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 300px;
    border-style: double;
}

.gmap_canvas iframe {
    width: 100%;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 20px;
}

.transparent-red {
    background-color: rgba(182, 22, 20, .7);
    height: 100%;
}

/* Error 404 */
.error-page {
    display: flex;
    flex-wrap: wrap;
    font-size: 110%;
    font-family: 'Bebas Neue', sans-serif;
    padding: 15px;
    width: 100%;
    height: 300px;
    background: url('../images/bike-chainring.jpeg') no-repeat center center;
    background-size: cover;
    
}
.error-page h2 {
    color: red;
    background: rgba(255, 255, 255, .7);
    height: fit-content;
    padding: 10px;

}

/* media queries */

/* small devices (mobile phones, less than 320px) */
@media (min-width: 320px) {
    #cover-overlay {
        padding: 15px;
        background-color: rgba(238, 238, 238, .5);
        color: #0074d0;
    }
}


/* small devices (mobile phones, less than 576px) */
/* medium devices (tablets, less than 768px) */
/* large devices (laptops, less than 992px) */
/* extra large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {

    body p {
        font-size: 1.5rem;
    }

    h2, h3 {
        font-size: 210%;
    }

   header {
       display: flex;
   }

    #logo {
        font-size: 320%;
        margin-left: 20px;
    }

    .club-details {
        padding: 25px;
    }

    nav {
        margin-left: auto;
        margin-right: 20px;
        margin-top: 5px;
        font-size: 150%;
    }

    .signup-form {
        top: 150px;
    }
}





