@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: whitesmoke;
}

/* headings and logo */

header {
    width: 100%;
    background-color: #0074d0;
    padding-top: 10px;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 140%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: whitesmoke;
}

#logo {
    font-size: 210%;
    text-align: center;
    padding: 5px;

}

header a {
    text-decoration: none;
    color: whitesmoke;
}

/* navigation links */

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    margin-top: 5px;
    padding-bottom: 20px;
    font-size: 150%;

}

.active {
    border-bottom: 2px solid whitesmoke;
}

.nav-list a:hover {
    border-bottom: 2px solid whitesmoke;
}


/* footer */

footer {
    background-color: #0074d0;
    height: 150px;
    width: 100%;
}


.socials {
    list-style-type: none;
    font-size: 150%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer a {
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.contact-us {
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
    line-height: 1.5;
    color: whitesmoke;
}

/* hero image */
.hero-outer {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#cover-overlay, #cover-overlay h2, h3 {
    color: #0074d0;
    top: 200px;
    right: 100px;
}

.responsive {
    width: 100%;
    height: auto;
    position: relative;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(1.1);
    }
}


/* club details */

.club-details {
    height: 320px;
    background-color: #b61614;
    padding: 10px;
    text-align: center;
}

.club-details h2 {
    padding: 10px;
}

#cover-overlay {
    font-size: 150%;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 250px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(255,255,255, .6);

    bottom: 30px;
    right: 5px;

    position: absolute;
}

/* Form */

.form-section {
    clear: left;
    background:
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(194, 66, 77, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}